body {
  font-family: $font-primary;
  color: $primary;
  font-size: 1.6rem;
  text-align: left;
}


h1,
h2,
h3,
h4,
h5,
h6,
.faux-heading {
  font-family: $font-secondary;
  font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
  font-weight: 400;
  letter-spacing: 0;
  margin: 3.5rem 0 2rem;
  color: $primary;
}

h1,
.heading-size-1 {
  font-size: 4.5rem;
  line-height: 61px;

  @media (min-width: $br-s) {
    font-size: 5.1rem;
  }
}

h2,
.heading-size-2 {
  font-size: 3rem;
  line-height: 46px;

  @media (min-width: $br-s) {
    font-size: 3.8rem;
  }
}

h3,
.heading-size-3 {
  font-size: 2.2rem;
  line-height: 42px;

  @media (min-width: $br-s) {
    font-size: 2.8rem;
  }
}

h4,
.heading-size-4 {
  font-size: 1.9rem;
  line-height: 32px;

  @media (min-width: $br-s) {
    font-size: 2.1rem;
  }
}

h5,
.heading-size-5 {
  font-size: 1.5rem;
  line-height: 26px;

  @media (min-width: $br-s) {
    font-size: 1.6rem;
  }
}

h6,
.heading-size-6 {
  font-size: 1.4rem;
  line-height: 26px;

  @media (min-width: $br-s) {
    font-size: 1.5rem;
  }
}

p {
  line-height: 26px;
  letter-spacing: 0.1px;
  margin: 0 0 1em 0;
}


big {
  font-size: 1.6rem;
  letter-spacing: 0.1px;
  line-height: 30px;
}

small {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.1px;
  line-height: 23px;
}


em,
i,
q,
dfn {
  font-style: italic;
}

em em,
em i,
i em,
i i,
cite em,
cite i {
  font-weight: bolder;
}

b,
strong {
  font-weight: 600;
}


ins {
  text-decoration: underline;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

abbr,
acronym {
  cursor: help;
}

a {
  color: $primary;
}

.header-nav a {
  @include menu-text-style;
}

// First Submenu
.header-nav > ul ul a {
  font-size: 1.3rem;
}

/* DEEP DOWN */
.header-nav > ul ul ul a {
  font-size: 1.2rem;
  white-space: nowrap;
  text-transform: initial;
}


.modal-menu a {
  @include menu-text-style;

  font-weight: 600;
}

.modal-menu ul li a {
  font-size: 1.2rem;
}
