/* Block: Columns ---------------------------- */

.wp-block-columns.alignfull,
.alignfull:not(.has-background) .wp-block-columns {
	padding-left: 2rem;
	padding-right: 2rem;
}

.wp-block-columns.alignwide + .wp-block-columns.alignwide,
.wp-block-columns.alignfull + .wp-block-columns.alignfull {

	@media (min-width: 600px) {
		margin-top: -4rem;
	}

	@media (min-width: $br-m) {
		margin-top: -6rem;
	}

	@media (min-width: 782px) {
		margin-top: -2.8rem;
	}

	@media (min-width: $br-l) {
		margin-top: -4.8rem;
	}

}

.wp-block-columns.alignfull + .wp-block-columns.alignfull {

	@media (min-width: $br-xl) {
		margin-top: -6rem;
	}
}

.entry-content .wp-block-columns h1,
.entry-content .wp-block-columns h2,
.entry-content .wp-block-columns h3,
.entry-content .wp-block-columns h4,
.entry-content .wp-block-columns h5,
.entry-content .wp-block-columns h6 {

	@media (min-width: $br-m) {
		margin: 3.5rem 0 2rem;
	}
}

.wp-block-column {
	margin-bottom: 3.2rem;

	@media (min-width: 782px) {
		margin-bottom: 0;
	}
}

.wp-block-column > *:first-child {
	margin-top: 0;
}

.wp-block-column > *:last-child {
	margin-bottom: 0;
}

.wp-block-columns.is-style-keep-three-mobile {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	.wp-block-column {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		position: relative;


		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		& *:last-child {

			@media (min-width: $br-m) {
				margin-top: 0;
			}
		}

		@media (min-width: $br-m) {
			display: flex;
			flex-direction: column;
			margin-right: 0;

			&:not(:first-child) {
				margin-left: 32px;
			}
		}
	}

	.wp-block-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
	.wp-block-image {
		margin-bottom: 1rem;

		@media (min-width: $br-m) {
			margin-bottom: 1rem;
		}
	}


	h3 {
		margin-top: 1rem;
		margin-bottom: 1rem;

		@media (min-width: $br-m) {
			margin-top: 3.5rem;
			margin-bottom: 2rem;
		}
	}

	p {
		display: none;
		visibility: hidden;

		@media (min-width: $br-m) {
			display: block;
			visibility: visible;
			flex-grow: 1;
		}
	}

	@media (max-width: $br-m - 1) {

		.wp-block-button {
			margin: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 10;
			overflow: hidden;

			.wp-block-button__link {
				padding: 0;
				margin: 0;
				display: block;
				width: 100%;
				height: 100%;

				& span {
					display: none;
					visibility: hidden;
				}

				& span::before,
				& span::after,
				&::before,
				&::after {
					content: none;
				}
			}
		}
	}
}
