/* Block: Table ------------------------------ */

/* BLOCK: TABLE WIDTH */
.wp-block-table.alignleft,
.wp-block-table.alignright {

	@media ( min-width: 480px ) {
		max-width: 100%;
	}
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	background: #dcd7ca;
}

figure.wp-block-table.is-style-stripes {
	border-bottom: none;
}

.wp-block-table.is-style-stripes table {
	border-collapse: inherit;
}

