/* Inputs ------------------------------------ */

fieldset {
  border: none;
  padding: 1rem;
}

legend {
  font-size: .85em;
  font-weight: 700;
  padding: 0 1rem;

  @media (min-width: $br-s) {
    padding: 0 1.5rem;
  }
}


label {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 .5rem 0;
}

label.inline,
input[type="checkbox"] + label {
  display: inline;
  font-weight: 400;
  margin-left: .5rem;
}


// input[type="checkbox"] {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   position: relative;
//   top: 2px;
//   display: inline-block;
//   margin: 0;
//   width: 1.5rem;
//   min-width: 1.5rem;
//   height: 1.5rem;
//   background: $white;
//   border-radius: 0;
//   border-style: solid;
//   border-width: .1rem;
//   border-color: $grey;
//   box-shadow: none;
//   cursor: pointer;
// }

// input[type="checkbox"]:checked::before {
//   /* Use the "Yes" SVG Dashicon */
//   content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23000000%27%2F%3E%3C%2Fsvg%3E");
//   position: absolute;
//   display: inline-block;
//   margin: -.1875rem 0 0 -.25rem;
//   height: 1.75rem;
//   width: 1.75rem;
// }
