/* Block: Embed ------------------------------ */

/* Block: File ------------------------------- */

.wp-block-file {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	a:not(.wp-block-file__button) {
		font-weight: 700;
		text-decoration: none;
	}

	a:not(.wp-block-file__button):not(:last-child) {
		margin-right: 1rem;
	}

	a:not(.wp-block-file__button):focus,
	a:not(.wp-block-file__button):hover {
		text-decoration: underline;
	}

	.wp-block-file__button {
		font-size: 1.5rem;
		padding: 1em 1.25em;
	}

	a.wp-block-file__button:visited {
		opacity: 1;
	}

	a.wp-block-file__button:active,
	a.wp-block-file__button:focus,
	a.wp-block-file__button:hover {
		opacity: 1;
		text-decoration: underline;
	}
}
