/* Block: Media And Text --------------------- */

.wp-block-media-text .wp-block-media-text__content {
	padding: 3rem 2rem;

	@media (min-width: $br-m) {
		padding: 4rem;
	}
}

.wp-block-media-text .wp-block-media-text__content p {
	max-width: none;

	@media (min-width: $br-m) {
		margin-left: 3rem;
	}
}

.wp-block-media-text__content > *:first-child {
	margin-top: 0;
}

.wp-block-media-text__content > *:last-child {
	margin-bottom: 0;
}

