/* Block: Pullquote -------------------------- */

/* STYLE: DEFAULT */

.wp-block-pullquote {
	padding: 0;
	position: relative;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
	max-width: calc(100% - 4rem);

	@media ( max-width: 479px ) {
		float: none;
	}
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright,
.wp-block-cover-image.alignleft,
.wp-block-cover-image.alignright,
.wp-block-cover.alignleft,
.wp-block-cover.alignright,
.wp-block-embed.alignleft,
.wp-block-embed.alignright,
.wp-block-gallery.alignleft,
.wp-block-gallery.alignright {

	@media ( min-width: 480px ) {
		max-width: 26rem;
	}
}

.wp-block-pullquote::before {
	background: $white;
	border-radius: 50%;
	color: $red;
	content: "”";
	display: block;
	font-size: 6.2rem;
	font-weight: 500;
	line-height: 1.2;
	margin: 0 auto 1.5rem auto;
	text-align: center;
	height: 4.4rem;
	width: 4.4rem;
}

.reduced-spacing .wp-block-pullquote::before {
	border: 0.1rem solid currentColor;
	font-size: 5.9rem;
}

.wp-block-pullquote blockquote {
	border: none;
	margin: 0;
	padding: 0;
}

.wp-block-pullquote blockquote p {
	font-family: inherit;
	font-size: 2.8rem;
	font-weight: 700;
	line-height: 1.178571429;
	letter-spacing: -0.041785714em;
	max-width: 100%;

	@media (min-width: $br-s) {
		font-size: 3.2rem;
	}
}

.wp-block-pullquote p:last-of-type {
	margin-bottom: 0;
}

.wp-block-pullquote cite {
	color: $grey;
	font-size: 1.6rem;
	font-weight: 500;
	margin-top: 1.2rem;

	@media (min-width: $br-s) {
		margin-top: 2rem;
	}
}

.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p {
	font-size: 2.8rem;
}

.wp-block-pullquote.alignleft {
	text-align: left;
}

.wp-block-pullquote.alignright {
	text-align: right;
}

.wp-block-pullquote.alignleft::before {
	margin-left: 0;
}

.wp-block-pullquote.alignright::before {
	margin-right: 0;
}

/* STYLE: SOLID BACKGROUND COLOR */

.wp-block-pullquote.is-style-solid-color {
	padding: 3rem 2rem;
}

.wp-block-pullquote.is-style-solid-color::before {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.wp-block-pullquote.is-style-solid-color.alignleft::before,
.wp-block-pullquote.is-style-solid-color.alignright::before {
	transform: translateY(-50%);

	@media ( min-width: 1330px ) {
		top: 0;
	}
}

.wp-block-pullquote.is-style-solid-color.alignleft::before {
	left: 2rem;
}

.wp-block-pullquote.is-style-solid-color.alignright::before {
	left: auto;
	right: 2rem;
}

.wp-block-pullquote.is-style-solid-color blockquote {
	max-width: 100%;
	text-align: inherit;
}

.wp-block-pullquote.is-style-solid-color cite {
	color: inherit;
}

.wp-block-pullquote.alignwide blockquote p,
.wp-block-pullquote.alignfull blockquote p {

	@media (min-width: $br-s) {
		font-size: 4.8rem;
		line-height: 1.203125;
	}

	@media (min-width: $br-xl) {
		font-size: 6.4rem;
	}
}

.wp-block-pullquote.is-style-solid-color.alignwide,
.wp-block-pullquote.is-style-solid-color.alignfull {

	@media (min-width: $br-s) {
		padding: 6rem 4rem 4rem;
	}

	@media (min-width: $br-xl) {
		padding: 9rem 4rem 8rem;
	}
}


@media (min-width: $br-s) {

	.wp-block-pullquote.alignfull:not(.is-style-solid-color) {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.wp-block-pullquote.alignwide::before,
	.wp-block-pullquote.alignfull::before {
		font-size: 11.272727272rem;
		height: 8rem;
		margin-bottom: 2rem;
		width: 8rem;
	}

	.wp-block-pullquote.alignleft p,
	.wp-block-pullquote.alignright p,
	.wp-block-pullquote.alignleft.is-style-solid-color blockquote p,
	.wp-block-pullquote.alignright.is-style-solid-color blockquote p {
		font-size: 3.2rem;
		line-height: 1.1875;
	}

	.wp-block-pullquote.alignleft.is-style-solid-color blockquote p,
	.wp-block-pullquote.alignright.is-style-solid-color blockquote p {
		font-size: 2.6rem;
	}
}

