/* Block: Separator  ------------------------- */

hr.wp-block-separator {
	margin: 3rem 0;

	@media (min-width: $br-s) {
		margin: 6rem auto;
	}

	@media (min-width: $br-m) {
		margin: 8rem auto;
	}
}

/* STYLE: WIDE */

.wp-block-separator.is-style-wide {
	max-width: calc(100vw - 4rem);
	position: relative;
	width: 100%;

	@media (min-width: $br-s) {
		max-width: calc(100vw - 8rem);
	}

	@media ( min-width: $br-l ) {
		max-width: $wide-width;
		width: $wide-width;
	}
}

/* STYLE: DOTS */

.wp-block-separator.is-style-dots::before {
	background: none;
	color: inherit;
	font-size: 3.2rem;
	font-weight: 700;
	height: auto;
	letter-spacing: 1em;
	padding-left: 1em;
	position: static;
	transform: none;
	width: auto;
}

.wp-block-separator.is-style-dots::after {
	content: none;
}


.wp-block-separator.is-style-wide-with-bg {
	// max-width: calc(100vw - 4rem);
	position: relative;
	width: 100%;
	padding: 14rem 0 14rem;
	margin-top: -30rem;
	z-index: -1;
}

.wp-block-separator.is-style-wide-with-bg::before,
.wp-block-separator.is-style-wide-with-bg::after {
	content: none;
}

