// @font-face {
// 	font-family: Butler;
// 	src:
// 		url("~fonts/Butler.woff2") format("woff2"),
// 		url("~fonts/Butler.woff") format("woff");
// 	font-weight: 400;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: Butler;
// 	src:
// 		url("~fonts/Butler-Medium.woff2") format("woff2"),
// 		url("~fonts/Butler-Medium.woff") format("woff");
// 	font-weight: 500;
// 	font-style: normal;
// }

// Montserrat
@import url("https://fonts.googleapis.com/css?family=Montserrat:300i,400,500,500i,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300&display=swap");

$family-merriweather:         "Merriweather";
$family-montserrat:     "Montserrat";

$font-primary:          $family-montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary:        $family-merriweather, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia,serif;
$font-third: 						"Merriweather", $font-primary;
