
/* Color ------------------------------------- */
$white:     #ffffff;
$black:     #000000;
$grey:      #979797;
$red:       #a6554d;

$primary:     $black;
$secondary:   $grey;
$body-background:  $white;

/* Size */
$social-icon-size: 1.8rem; //18px

/* Breakpoints */
$br-m:      700px;
$br-l:      1000px;
$br-xl:     1220px;

/* Z-index */
$menu-modal-zindex: 99;

/* Hamburgers menu */
$hamburger-padding-x           : 15px;
$hamburger-padding-y           : 15px;
$hamburger-layer-width         : 16px;
$hamburger-layer-height        : 1px;
$hamburger-layer-spacing       : 5px;
$hamburger-layer-color         : $primary;
$hamburger-layer-border-radius : 5px;
$hamburger-hover-opacity       : 0.7;
$hamburger-active-layer-color  : $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;
