/* -------------------------------------------------------------------------- */

/*	11. Entry Content
/* -------------------------------------------------------------------------- */

.entry-content {
	line-height: 1.5;
	font-size: 1rem;

	@media (min-width: $br-s) {
		font-size: 1.5rem;
	}
}

.entry-content > * {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.25em;
}

.entry-content > *:first-child {
	margin-top: 0;
}

.entry-content > *:last-child {
	margin-bottom: 0;
}

.read-more-button-wrap {
	margin-top: 1em;
	text-align: center;
}

.entry-content a:hover,
.entry-content a:focus {
	text-decoration: none;
}

.entry-content p,
.entry-content li {
	line-height: 2;

	@media (min-width: $br-s) {
		line-height: 2;
	}
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	margin: 3.5rem auto 2rem;
}

.entry-content h1,
.entry-content h2,
.entry-content h3 {

	@media (min-width: $br-s) {
		margin: 6rem auto 3rem;
	}
}

.entry-content h4,
.entry-content h5,
.entry-content h6 {

	@media (min-width: $br-s) {
		margin: 4.5rem auto 2.5rem;
	}
}

.entry-content h2 + h6 {
	font-family: $font-primary;
	font-size: 1.2rem;
	color: $primary;
	line-height: 2.3;
	margin-top: -1rem;
	text-transform: none;
	font-style: italic;
	font-weight: 300;

	@media (min-width: $br-s) {
		font-size: 1.5rem;
	}
}

.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul {
	margin-bottom: 1rem;
}

.entry-content hr {
	margin: 4rem auto;
}

@import "./font";
@import "./alignment";
@import "./media";
