/* -------------------------------------------------------------------------- */

/*	6. Search Modal
/* -------------------------------------------------------------------------- */

.search-modal {
  background: $almost-black;
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: -9999rem;
  top: 0;
  transition: opacity .2s linear, left 0s .2s linear;
  width: 100%;
  z-index: 999;

  &.active {
    left: 0;
    opacity: 1;
    transition: opacity .2s linear;
  }
}

.admin-bar .search-modal.active {
  top: 32px;
}

@media (max-width: 782px) {
  .admin-bar .search-modal.active {
    top: 46px;
  }
}

.search-modal-inner {
  background: $white;
  transform: translateY(-100%);
  transition: transform .15s linear, box-shadow .15s linear;

  .section-inner {
    display: flex;
    justify-content: space-between;
    max-width: 168rem;
  }

  .search-modal.active & {
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .08);
    transform: translateY(0);
    transition: transform .25s ease-in-out, box-shadow .1s .25s linear;
  }
}

button.search-untoggle {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin-right: -2.5rem;
  padding: 0 2.5rem;

  .search-modal & {
    color: inherit;
  }
}

.search-modal.active .search-untoggle {
  animation: popIn both .3s .2s;
}

.search-untoggle svg {
  height: 1.5rem;
  transition: transform .15s ease-in-out;
  width: 1.5rem;

  @media (min-width: $br-s) {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.search-untoggle:focus svg,
.search-untoggle:hover svg {
  transform: scale(1.15);
}


/* Modal Search Form ------------------------- */

.search-modal form {
  margin: 0;
  position: relative;
  width: 100%;

  @media (min-width: $br-s) {
    position: relative;
    width: 100%;
  }
}

.search-modal .search-field {
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
  font-size: 2rem;
  height: 8.4rem;
  margin: 0 0 0 -2rem;
  max-width: calc(100% + 2rem);
  padding: 0 0 0 2rem;
  width: calc(100% + 2rem);

  @media (min-width: $br-s) {
    border: none;
    font-size: 3.2rem;
    height: 14rem;
  }
}

.search-modal .search-field::-webkit-input-placeholder {
  color: inherit;
}

.search-modal .search-field:-ms-input-placeholder {
  color: inherit;
}

.search-modal .search-field::-moz-placeholder {
  color: inherit;
  line-height: 4;

  @media (min-width: $br-s) {
    line-height: 4.375;
  }
}

.search-modal .search-submit {
  position: absolute;
  right: -9999rem;
  top: 50%;
  transform: translateY(-50%);
}

.search-modal .search-submit:focus {
  right: 0;
}
