/* -------------------------------------------------------------------------- */

/*	12. Comments
/* -------------------------------------------------------------------------- */


/* Comment Headers ----------------------------- */

.comments-wrapper {
	margin-top: 5rem;

	@media ( min-width: $br-m) {
		margin-top: 8rem;
	}
}

.comment-reply-title {
	margin: 0 0 4rem 0;
	text-align: center;

	@media ( min-width: $br-m) {
		margin-bottom: 4.6rem;
	}

	@media ( min-width: $br-xl) {
		font-size: 5.6rem;
		line-height: 1.2;
		margin-bottom: 6rem;
	}
}


/* Comment Item ----------------------------- */

/* COMMENT HEADER */

.comments .comment,
.comments .pingback,
.comments .trackback,
.comments .review {
	padding-top: 3.5rem;

	@media ( min-width: $br-m) {
		padding-top: 5rem;
	}
}

div.comment:first-of-type {
	margin-top: 3.5rem;
	padding-top: 0;

	@media ( min-width: $br-m) {
		margin-top: 5rem;
	}
}

.comments .comments-header + div {
	margin-top: 0;
	padding-top: 0;
}

.comment-body {
	position: relative;
}

.comment .comment {
	padding-left: 5%;
}

.comment-meta {
	line-height: 1.1;
	margin-bottom: 1.5rem;
	min-height: 5rem;
	padding-left: 5rem;
	position: relative;

	@media ( min-width: $br-m) {
		margin-bottom: 2rem;
		min-height: 6rem;
		padding: 0.3rem 0 0 7.5rem;
	}

	@media (min-width: $br-l) {
		padding-left: 0;
	}
}

.hide-avatars .comment-meta {
	min-height: 0;
	padding-left: 0;
}

.comment-meta a {
	color: inherit;
}

.comment-author {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: -0.027777778em;

	@media ( min-width: $br-m) {
		font-size: 2.4rem;
	}
}

.comment-author a {
	text-decoration: underline;
}

.comment-author a:hover,
.comment-author a:focus {
	text-decoration: none;
}

.comment-meta .avatar {
	height: 4rem;
	position: absolute;
	left: 0;
	top: 0;
	width: 4rem;

	@media ( min-width: $br-m) {
		display: block;
		height: 6rem;
		position: absolute;
		left: 0;
		top: 0;
		width: 6rem;
	}

	@media (min-width: $br-l) {
		left: -8rem;
	}
}

.comment-author .url {
	text-decoration: underline;
}

.comment-metadata {
	color: #6d6d6d;
	font-size: 1.4rem;
	font-weight: 500;
	margin-top: 0.6rem;

	@media ( min-width: $br-m) {
		font-size: 1.6rem;
		margin-top: 0.8rem;
	}
}

.comment-metadata a {
	text-decoration: none;
}

.comment-metadata a:focus,
.comment-metadata a:hover {
	text-decoration: underline;
}


/* COMMENT CONTENT */

.comment-content.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
	width: 100%;
}

.comment-content.entry-content .alignleft {

	/*rtl:ignore*/
	margin-left: 0;
}

.comment-content.entry-content .alignright {

	/*rtl:ignore*/
	margin-right: 0;
}

/* COMMENT FOOTER */

.comment-footer-meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.2rem;
	font-weight: 600;
	justify-content: flex-start;
	letter-spacing: 0.030833333em;
	line-height: 1;
	margin: 1.5rem 0 -1rem -1.5rem;
	text-transform: uppercase;

	@media (min-width: $br-m) {
		margin-top: 2.5rem;
	}
}

.comment-footer-meta > * {
	margin: 0 0 1rem 1.5rem;
}

.comment-reply-link {
	background-color: $red;
	color: $white;
	display: block;
	padding: 0.7rem;
}

.bypostauthor .comment-footer-meta .by-post-author {
	display: block;
}

.comment-footer-meta a {
	text-decoration: none;
}

.comment-footer-meta a:focus,
.comment-footer-meta a:hover {
	text-decoration: underline;
}


/* Pingbacks & Trackbacks ------------------------- */

.pingback .comment-meta,
.trackback .comment-meta {
	padding-left: 0;
}

.pingback .comment-body {

	@media (min-width: $br-m) {
		padding: 0;
	}
}


/* Comments Pagination ---------------------------- */

.comments-pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 6rem;
	text-align: center;

	@media (min-width: $br-m) {
		margin-top: 8rem;
	}
}

.comments-pagination.only-next {
	justify-content: flex-end;
}

.comments-pagination .page-numbers {
	display: none;
	text-decoration: none;
}

.comments-pagination .page-numbers:focus,
.comments-pagination .page-numbers:hover {
	text-decoration: underline;
}

.comments-pagination .prev,
.comments-pagination .next {
	display: block;
}

.comments-pagination .prev {
	left: 0;
}

.comments-pagination .next {
	right: 0;
	text-align: right;
}


/* Comment Respond ---------------------------- */

.comment-respond::after {
	clear: both;
	content: "";
	display: block;
}

.comment-respond .comment-notes,
.comment-respond .logged-in-as {
	color: #6d6d6d;
	font-size: 1.6rem;
	line-height: 1.4;
	margin: -3rem 0 4rem 0;
	text-align: center;
}

.comment-respond .comment-notes a,
.comment-respond .logged-in-as a {
	color: inherit;
	text-decoration: none;
}

.comment-respond .comment-notes a:focus,
.comment-respond .comment-notes a:hover,
.comment-respond .logged-in-as a:focus,
.comment-respond .logged-in-as a:hover {
	text-decoration: underline;
}

.comment-respond p {
	line-height: 1.1;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: $br-m) {
		margin-bottom: 2.5rem;
	}
}

.comment-respond p:not(.comment-notes) {
	max-width: 58rem;
}

.comment-form p.logged-in-as {

	@media (min-width: $br-m) {
		margin: -2.5rem 0 4.4rem 0;
	}
}

.comment-respond p.comment-notes,
.comment-respond p.logged-in-as {

	@media ( min-width: $br-m) {
		font-size: 1.8rem;
		letter-spacing: -0.025em;
		margin: -2.5rem 0 4.4rem 0;
	}

	@media ( min-width: $br-xl) {
		margin: -4rem 0 6rem 0;
	}
}

.comment-form-cookies-consent {
	align-items: baseline;
	display: flex;
}

.comment-respond > p:last-of-type {
	margin-bottom: 0;
}

.comment-respond label {
	display: block;
}

.comment-respond input[type="checkbox"] + label {
	font-size: 1.5rem;
	line-height: 1.25;
}

.comment-respond input[type="text"],
.comment-respond input[type="email"],
.comment-respond textarea {
	margin-bottom: 0;
}

.comment-respond textarea {
	height: 15rem;
}

.comment-respond #submit {
	display: block;
}

.comment-respond .comments-closed {
	text-align: center;
}

.comment-respond .comment-form-author,
.comment-respond .comment-form-email {

	@media (min-width: $br-m) {
		float: left;
		width: calc(50% - 1rem);
	}
}

.comment-respond .comment-form-email {

	@media (min-width: $br-m) {
		margin-left: 2rem;
	}
}


/* Reply Respond ---------------------------- */

.comments .comment-respond {
	padding: 3rem 0 0;

	@media (min-width: $br-m) {
		padding: 5rem 0 0;
	}
}

.comments .comment-respond .comment-reply-title,
.comments .comment-respond .comment-notes,
.comments .comment-respond .logged-in-as {
	text-align: left;
}

.comments .comment-respond .comment-reply-title {

	@media (min-width: $br-xl) {
		font-size: 4.8rem;
	}
}

.comments .comment-respond p.comment-notes,
.comments .comment-respond p.logged-in-as {

	@media (min-width: $br-xl) {
		margin: -4.5rem 0 4rem 0;
	}
}

.comment-reply-title small {
	display: block;
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: -0.0277em;
	margin: 0.5rem 0 0 0;
	white-space: nowrap;

	@media (min-width: $br-m) {
		display: inline;
		margin: 0 0 0 0.5rem;
	}
}

.comment-reply-title small a {
	text-decoration: none;
}

.comment-reply-title small a:focus,
.comment-reply-title small a:hover {
	text-decoration: underline;
}
