/* -------------------------------------------------------------------------- */

/*	16. Site Footer
/* -------------------------------------------------------------------------- */

#site-footer {
  background-color: $white;

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}

// .footer-titles-wrapper {
//   text-align: center;
// }

.footer-inner {
  padding: 4.8rem 0;

  h3 {
    margin-top: 1.4rem;
    white-space: nowrap;
  }

  &.col-r > * {
    text-align: center;
    margin-bottom: 4.1rem;

    @media (min-width: $br-m) {
      text-align: left;
    }
  }
}

.footer-description {
  margin-bottom: 2.5rem;
}

.footer-menu {
  li {
    line-height: 1.25;
    padding: .75rem 0;

    &:first-child {
      padding-top: 0;
    }
  }

  a {
    width: 80%;
    margin: 0 auto;
    padding: .75rem 0;
  }
}

.footer-contact {
  .widget_text {
    margin-bottom: 2.6rem;
  }
}

/* FOOTER SOCIAL */

.footer-social-wrapper {
  margin: 1.5rem 0;
  width: 100%;

  ul.footer-social {
    display: flex;
    justify-content: center;

    @media (min-width: $br-m) {
      justify-content: flex-start;
    }

    li {
      margin: .5rem 0 0 1.3rem;

      &:first-of-type {
        margin-left: 0;
      }

      @media (min-width: $br-xl) {
        margin: 1rem 0 0 1.3rem;
      }
    }
  }
}


/* Footer Bottom ----------------------------- */

.footer-credits {
  display: none;
  text-align: center;
  background-color: $white;
  padding: 2rem 0;

  @media (min-width: $br-s) {
    padding: 2.6rem 0;
    display: block;
  }

  .created-by {
    display: inline-block;
    white-space: nowrap;

    @media (min-width: $br-s) {
      display: inline;
    }
  }
}

.footer-copyright {
  margin: 0;

  a {
    color: inherit;
  }
}
