/* -------------------------------------------------------------------------- */

/*	13. Site Pagination
/* -------------------------------------------------------------------------- */


.pagination .nav-links {
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.8rem;
	font-weight: 600;
	margin: -1.5rem 0 0 -2.5rem;
	width: calc(100% + 2.5rem);

	@media (min-width: $br-m) {
		font-size: 2.4rem;
		font-weight: 700;
		margin: -2.5rem 0 0 -4rem;
	}

	@media (min-width: $br-l) {
		justify-content: space-between;
		margin: 0;
		width: 100%;
	}
}

.pagination-separator {
	margin: 5rem 0;

	@media (min-width: $br-m) {
		margin: 8rem 0;
	}
}

.nav-links > * {
	margin: 1.5rem 0 0 2.5rem;

	@media (min-width: $br-m) {
		margin: 2.5rem 0 0 4rem;
	}

	@media (min-width: $br-l) {
		margin: 0 2rem;
	}
}

.nav-links .placeholder {
	display: none;
	visibility: hidden;
}

.pagination a {
	text-decoration: none;
}

.pagination a:focus,
.pagination a:hover {
	text-decoration: underline;
}

.pagination .dots {
	transform: translateY(-0.3em);
	color: $grey;
}

/* Display the full text for Newer and Older Posts. */
.nav-short {
	display: none;

	@media (min-width: $br-m) {
		display: inline;
	}
}

.pagination .next,
.pagination .prev {

	@media (min-width: $br-l) {
		display: block;
	}
}

.pagination .prev {

	@media (min-width: $br-l) {
		margin: 0 auto 0 0;
	}
}

.pagination .next {

	@media (min-width: $br-l) {
		text-align: right;
		margin: 0 0 0 auto;
	}
}
